[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
grpcio = ">=1.20"
grpclib = "==0.3.1"
pyblake2 = "==1.1.2"
ed25519 = "==1.4"
protobuf = "==3.9.1"
cryptography = "==2.8"
pycryptodome = "==3.9.4"
grpcio-tools = ">=1.20"
pytest = ">=4.4"
in-place = ">=0.4.0"
grpc-tools = "*"

[requires]
python_version = "3.7"
