[package]
name = "vesting-logic"
version = "0.1.0"
authors = ["Maciej Zielinski <maciej@casperlabs.io>"]
edition = "2018"

[lib]
doctest = false
bench = false

[dependencies]
num-traits = { version = "0.2.10", default-features = false }
