<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="CL_LOG_LEVEL" value="${CL_LOG_LEVEL:-INFO}" />

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Add this filter if you want the console to have different content then the file. -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${CL_LOG_LEVEL}</level>
        </filter>
        <!-- encoders are  by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.http4s" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="io.grpc" level="ERROR"/>
    <logger name="org.http4s.blaze.channel.nio1.NIO1SocketServerGroup" level="OFF"/>

    <if condition='isDefined("node.data.dir")'>
        <then>
            <appender name="FILE" class="ch.qos.logback.core.FileAppender">
                <file>${node.data.dir}/casperlabs-node.log</file>
                <append>false</append>
                <encoder>
                    <pattern>%d{ISO8601, UTC} [%thread] %-5level %logger - %msg%n
                    </pattern>
                </encoder>
            </appender>

            <root level="DEBUG">
                <appender-ref ref="STDOUT"/>
                <appender-ref ref="FILE"/>
            </root>
        </then>
        <else>
            <root level="DEBUG">
                <appender-ref ref="STDOUT"/>
            </root>
        </else>
    </if>


</configuration>
