version: '3'

#networks:
#  cl-||TAG||-0:
#    external: true
#  cl-||TAG||-1:
#    external: true
#  cl-||TAG||-2:
#    external: true
#  cl-||TAG||-3:
#    external: true
#  cl-||TAG||-4:
#    external: true
#  cl-||TAG||-5:
#    external: true
#  cl-||TAG||-6:
#    external: true
#  cl-||TAG||-7:
#    external: true
#  cl-||TAG||-8:
#    external: true
#  cl-||TAG||-9:
#    external: true
#  cl-||TAG||-10:
#    external: true



services:
  test:
    image: casperlabs/integration-testing:test
    volumes:
      - /tmp:/tmp
      - /var/run/docker.sock:/var/run/docker.sock
#    networks:
#      - cl-||TAG||-0
#      - cl-||TAG||-1
#      - cl-||TAG||-2
#      - cl-||TAG||-3
#      - cl-||TAG||-4
#      - cl-||TAG||-5
#      - cl-||TAG||-6
#      - cl-||TAG||-7
#      - cl-||TAG||-8
#      - cl-||TAG||-9
#      - cl-||TAG||-10
    environment:
      - TAG_NAME=${TAG_NAME}

