version: '3'

networks:
  cl-||TAG||-0:
    external: true
  cl-||TAG||-1:
    external: true
  cl-||TAG||-2:
    external: true
  cl-||TAG||-3:
    external: true
  cl-||TAG||-4:
    external: true
  cl-||TAG||-5:
    external: true

services:
  test:
    image: casperlabs/integration-testing:||IMAGE_TAG||
    container_name: test-||TAG||
    hostname: test-||TAG||
    volumes:
      - /tmp:/tmp
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - cl-||TAG||-0
      - cl-||TAG||-1
      - cl-||TAG||-2
      - cl-||TAG||-3
      - cl-||TAG||-4
      - cl-||TAG||-5
    environment:
      - TAG_NAME=${TAG_NAME}
      - UNIQUE_RUN_NUM=${UNIQUE_RUN_NUM}
